body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hero-image {
  color: #F9F9F9;
  background-color: lightskyblue;
  padding: 10% 0;
  background-image: url("./luca-bravo-TaCk3NspYe0-unsplash.jpg");
  background-position: bottom;
}

h1 {
  margin: 20px 0;
}